![Insper](https://github.com/danielscarvalho/Insper-DS-Dicas/blob/master/Insper-Logo.png?raw=true)

# Insper Pós-Graduação
## Programa Avançado em Data Science e Decisão [»](https://www.insper.edu.br/pt/cursos/pos-graduacao/programas-avancados/programas-avancados-data-science-e-decisao)

# Aula 03 - Dataframe

Pandas - Wrangling

![https://d3i71xaburhd42.cloudfront.net/0e9c41ebc5086b8b9d7004a68d6637e4940f03c9/3-Figure1-1.png](https://d3i71xaburhd42.cloudfront.net/0e9c41ebc5086b8b9d7004a68d6637e4940f03c9/3-Figure1-1.png)

Antes de começar, importe a biblioteca `Pandas`.

In [3]:
import pandas as pd

### Concatenação de DataFrames

In [ ]:
d1 = {'A': ['A0', 'A1', 'A2', 'A3'],
      'B': ['B0', 'B1', 'B2', 'B3'],
      'C': ['C0', 'C1', 'C2', 'C3'],
      'D': ['D0', 'D1', 'D2', 'D3']}

In [ ]:
type(d1)

In [ ]:
d1["C"]

In [ ]:
d1["C"][0]

In [ ]:
d1.keys()

In [ ]:
d1.values()

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])

In [ ]:
type(df1)

In [ ]:
df1.head()

In [ ]:
df1.tail()

In [ ]:
df1.sample(2)

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'], 
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'], 
                    'D': ['D4', 'D5', 'D6', 'D7']}, 
                   index=[4, 5, 6, 7])

In [ ]:
df2.head()

In [ ]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])

In [ ]:
df3.head()

Podemos usar o comando `concat()` da biblioteca Pandas para unir DataFrames (concatenar). Por padrão eles serão concatenados um abaixo do outro, na ordem dos dataframes informada na função.

In [ ]:
pd.concat([df2, df1, df3])

In [ ]:
_21.sample(4)

O `concat()` pode unir dataframes na horizontal. Para tanto, os índices tem que ser os mesmos. Nesse caso, fazemos uso do parâmetro `axis = 1`.

In [ ]:
df4 = pd.DataFrame({'E': ['E0', 'E1', 'E2', 'E3'],
                    'F': ['F0', 'F1', 'F2', 'F3'],
                    'G': ['G0', 'G1', 'G2', 'G3'],
                    'H': ['H0', 'H1', 'H2', 'H3']},
                   index=[0, 1, 2, 3])

df4.head()

In [ ]:
df1.head()

In [ ]:
pd.concat([df1, df4], axis  = 1 ) # eixo

In [ ]:
pd.concat([df1, df4], axis  = 0 ) # eixo

In [ ]:
pd.concat([df1, df4]) # eixo "axis=0" é o padrão (default)

- Merge

Considere os seguintes DataFrames:

In [ ]:
esquerda = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                         'key2': ['K0', 'K1', 'K0', 'K1'],
                         'A': ['A0', 'A1', 'A2', 'A3'],
                         'B': ['B0', 'B1', 'B2', 'B3']})

In [ ]:
esquerda.head()

In [ ]:
direita = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                        'key2': ['K0', 'K0', 'K0', 'K0'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']})

direita.head()

Podemos fazer a concetenação desses dataframes pelo método `merge()`. Em SQL estaríamos fazendo uma junção de dados. 

O `merge` recebe um parâmetro, denominado `how`, que identifica o tipo da junção. Por padrão, o valor é `inner`. 

- inner => retorna os registros em comum da chave
    
- outer => retorna todos, informando nulo para os registros que não houver correspondência na chave
    
- left, right => retorna todos de um dos lados, mesmo não havendo correspondência no lado oposto. Quando não há correspondência no lado oposto, preenche como nulo

![img/merge_vens.png](img/merge_vens.png)
Fonte: https://datascience.quantecon.org/pandas/merge.html

- Inner Join
![img/left_merge.gif](img/left_merge.gif)
Fonte: https://datascience.quantecon.org/pandas/merge.html

In [ ]:
print('Inner Join') #Mais utilizado!!!
print('Esquerda')
display(esquerda)

print('Direita')
display(direita)

print('Merge')
pd.merge(esquerda, direita, on=['key1', 'key2'])

Padrão do merge é o inner = how='inner'

In [ ]:
print('Outer Join')
print('Esquerda')
display(esquerda)

print('Direita')
display(direita)

print('Merge')
pd.merge(esquerda, direita, how='outer', on=['key1', 'key2'])

In [ ]:
print('Left Join')
print('Esquerda')
display(esquerda)

print('Direita')
display(direita)

print('Merge')
pd.merge(esquerda, direita, how='left', on=['key1', 'key2'])

- Right Join

![img/right_merge.gif](img/right_merge.gif)
Fonte: https://datascience.quantecon.org/pandas/merge.html

In [ ]:
print('Right Join')
print('Esquerda')
display(esquerda)

print('Direita')
display(direita)

print('Merge')
pd.merge(esquerda, direita, how='right', on=['key1', 'key2'])

## Dataframes: adição e remoção de colunas

Vamos conhecer as diferentes formas de adicionar e remover colunas de um Pandas DataFrame. 

Para isso, voltaremos a usar o conjunto de dados de preço de imóveis de SP, apresentado na aula 02.

In [4]:
import pandas as pd
imoveisSP = pd.read_csv('https://tinyurl.com/alugueis-sp-df')

In [5]:
imoveisSP.head()

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,Negotiation Type,Property Type,Latitude,Longitude
0,930,220,47,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.543138,-46.479486
1,1000,148,45,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.550239,-46.480718
2,1000,100,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.542818,-46.485665
3,1000,200,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.547171,-46.483014
4,1300,410,55,2,2,1,1,1,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.525025,-46.482436

**Remover colunas**

Vamos remover a coluna 'New'. 

Para isto, vamos usar a função `drop()` do Pandas.

A função drop por padrão devolve um novo dataframe com as colunas (ou linhas) removidas. Para que ela persista a alteração, temos que fazer uso do parâmetro `inplace = True`

Para remover linhas, use o parâmetro `axis = 0`, para colunas (nosso caso), temos que fazer `axis = 1`.

In [6]:
novo  = imoveisSP.drop(['Furnished'], axis = 1) #exis eixo...

In [7]:
novo.head()

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Swimming Pool,New,District,Negotiation Type,Property Type,Latitude,Longitude
0,930,220,47,2,2,1,1,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.543138,-46.479486
1,1000,148,45,2,2,1,1,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.550239,-46.480718
2,1000,100,48,2,2,1,1,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.542818,-46.485665
3,1000,200,48,2,2,1,1,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.547171,-46.483014
4,1300,410,55,2,2,1,1,1,0,0,Artur Alvim/São Paulo,rent,apartment,-23.525025,-46.482436

In [ ]:
novo["Pais"] = "Brasil"

In [ ]:
novo

In [ ]:
novo.drop("Pais", axis = 1)

Vamos agora criar uma coluna de Score. Vamos supor que queremos avaliar os imóveis a partir de uma função de *fitness* dada por:

> Estabelecer a questão, escopo

- Meu imóvel alvo precisa possuir em torno de 85 m2, então, quero que imóveis maiores ou menores sejam penalizados. Posso pensar algo entre 75 e 95 m2 como toleráveis;
- Gostaria de imóveis de 3 quartos, mais que isso fica muito pouco espaço livre e menos que isso não me atende muito bem;
- Prefiro imóveis com elevador
- Não gosto de imóveis com piscina
- Gostaria de pagar até 1000 reais, mas até R$ 1.250 eu posso avaliar.

Pensando nisso, podemos mapear um score com as seguintes contribuições (uma das possíveis formas, isto é um problema de otimização):

- Size => abs(Size - 85) <= 10
- Rooms => Rooms == 3
- Elevator => Elevator 
- Swimming Pool => Swimming Pool == 0
- Price => abs(1000 - Price)  <= 250

 #### Regra vx Código
 
   | Regra | Código (Python) |
   |----|---|
   | Size => abs(Size - 85) <= 10     |             `(abs(imoveisSP['Size'] - 85) <= 10).astype(int)`  |
   | Rooms => Rooms == 3              |    `(imoveisSP['Rooms'] % 3 == 0).astype(int)` |
   | Elevator => Elevator             |     `(imoveisSP['Elevator'])` |
   | Swimming Pool => Swimming Pool == 0 |                 `(imoveisSP['Swimming Pool']==0).astype(int)` |
   | Price => abs(1000 - Price) <= 250   |               `(abs(imoveisSP['Price']-1000) <= 250).astype(int)` |

In [ ]:
10 % 3

In [ ]:
10 % 2

In [ ]:
11 % 2

In [ ]:
imoveisSP['Score'] = (abs(imoveisSP['Size'] - 85) <= 10).astype(int) + \
                     (imoveisSP['Rooms'] % 3 == 0).astype(int) + \
                     (imoveisSP['Elevator']) + \
                     (imoveisSP['Swimming Pool']==0).astype(int) + \
                     (abs(imoveisSP['Price']-1000) <= 250).astype(int)

In [ ]:
imoveisSP

In [ ]:
imoveisSP.nlargest(5, 'Score') #fitness

Buscando por...

.eq()  igual <br>
.lt()  less than <br>
.gt()  greater than <br>

<hr>

In [ ]:
display(imoveisSP[imoveisSP['Score'].eq(5)] \
        [['Price', 'Size', 'Rooms', 'Elevator', 'Swimming Pool','Score']].sort_values(by=['Score', 'Price'], \
                                                                                      ascending=False))


imoveisSP.nlargest(2, ['Score', 'Price'])

In [ ]:
imoveisSP.nsmallest(2, ['Score', 'Price'])

Outra forma de criar uma coluna calculada é por meio da função `apply`. Por exemplo, se agora quiseremos ter uma coluna chamada `Decisão`, onde iremos marcar como `visitar` quem possui `Score == 5`, e os demais como `Não visitar`, como faremos?

In [ ]:
list(range(10))

In [ ]:
calc2 = lambda v: v*-1 if v % 2 == 0 else v**2

In [ ]:
type(calc2)

In [ ]:
calc2(3)

In [ ]:
calc2(2)

In [ ]:
def calc(v):
    """Meu cálculo maluco..."""
    if v % 2 == 0:
        return v*-1
    else:
        return v**2

In [ ]:
type(calc)

In [ ]:
calc(3)

In [ ]:
calc(2)

In [ ]:
help(calc)

In [ ]:
def superpower(val:int=2, pw=2):
    """We get the power"""
    return val**pw

In [ ]:
superpower()

In [ ]:
superpower(7)

In [ ]:
superpower("aaa")

In [ ]:
help(superpower)

In [ ]:
superpower(7,3)

In [ ]:
imoveisSP['Decisao'] = imoveisSP['Score'].apply(lambda x : 'Visitar' if x == 5 else 'Não Visitar')

In [ ]:
imoveisSP[['Price', 'Size', 'Rooms', 'Elevator', 'Swimming Pool',
           'Score', 'Decisao']].nlargest(10, 'Score')

In [ ]:
imoveisSP.query("Decisao == 'Visitar'")

## LAB: Resolvendo o exercício do supermercado (Aula 01) com Pandas

## Agregação e Grouping

Uma tarefa essencial na análise de conjuntos de dados consiste na sumarização dos dados. Calcular agregações como soma, média, mediana, valor mínimo e valor máximo são exemplos de agregações. 

Para esta prática, iremos utilizar os dados disponíveis na fundação SEADE, relacionados ao consumo elétrico dos municípios paulistas entre os anos de 2015 e 2019.

In [ ]:
!pwd

In [ ]:
!head Bases/consumo_eletrico_SP_2015_2019.csv

In [ ]:
!tail Bases/consumo_eletrico_SP_2015_2019.csv

In [ ]:
!ls *.csv

In [ ]:
!dir *.csv

In [ ]:
!dir Bases/*.csv

In [ ]:
import pandas as pd

### Inglês/Americano

- separador decimal . 23,838.33
- separador de campos no CSV é , virgula

### Porguês/Latinas

- separador decimal , 23.838,33
- separador de campos no CSV é ; ponto e vírgula

### Characterset

- ascii
- lating - iso-8859-1
- utf-8


No windows o comando "cd" mostra a pasta atual, no Linux/Mac o comando "pwd" mostra a pasta atual

In [9]:
consumo = pd.read_csv('Bases/consumo_eletrico_SP_2015_2019.csv', encoding='latin', sep=';')

consumo.head()

,Localidades,Períodos,Consumo de Energia Elétrica - Total (Em MWh),Consumo de Energia Elétrica - Comércio e Serviços (Em MWh),Consumo de Energia Elétrica - Industrial (Em MWh),Consumo de Energia Elétrica - Residencial (Em MWh),Consumo de Energia Elétrica - Rural (Em MWh),Consumo de Energia Elétrica - Iluminação e Serviços Públicos e Outros (Em MWh),Cód. IBGE
0,Adamantina,2015,69599,16012,8068,30007,2779,12732,3500105
1,Adamantina,2016,70433,16808,6960,31062,2767,12836,3500105
2,Adamantina,2017,72659,18228,7474,31935,2724,12299,3500105
3,Adamantina,2018,74776,18478,8108,32848,2901,12441,3500105
4,Adamantina,2019,79010,19475,8958,35115,3070,12393,3500105

In [ ]:
consumo.head(20)

In [ ]:
consumo.sample(3)

É possível observar que para cada município do estado de SP temos uma série histórica (2015- 2019) o consumo de energia elétrica total e suas especificidades (comércio e serviço, industrial, residencial, rural, ilumunição pública/outros).

In [ ]:
list(range(10))

In [ ]:
list(range(10))[2:-1]

In [ ]:
consumo[list(consumo)[2:-1]].head(20)

Será que o consumo total é a soma das suas componentes?

In [ ]:
consumo[list(consumo)[3:-1]].sum(axis=1)

In [ ]:
#del consumo['soma']
display(consumo[list(consumo)[3:-1]].head(2))

consumo['soma'] = consumo[list(consumo)[3:-1]].sum(axis=1)

display(consumo.head(2))

In [ ]:
consumo[[list(consumo)[2],list(consumo)[-1]]].head()

Por que o valor é tão diferente?

In [ ]:
consumo.info()


<div class="alert alert-block alert-warning">
<b>Atenção:</b> Busque sempre verificar o tipo de dados que o Pandas está assumindo. Todo o seu pipeline pode ficar comprometido por um tipo de dado erroneamente identificado e não tratado. </div>

Observe que o consumo industrial e rural não está como inteiro, e sim object (provavelmente há missing data). Vamos tentar faze-los ser valores numéricos.

In [ ]:
consumo['Consumo de Energia Elétrica - Industrial (Em MWh)']

In [ ]:
consumo['Consumo de Energia Elétrica - Industrial (Em MWh)'].astype('int')

In [ ]:
int('-')

In [ ]:
consumo['Consumo de Energia Elétrica - Industrial (Em MWh)'] = consumo[
    'Consumo de Energia Elétrica - Industrial (Em MWh)'].replace(
        '-', 0).astype('int64')

In [ ]:
consumo['Consumo de Energia Elétrica - Rural (Em MWh)'] = consumo['Consumo de Energia Elétrica - Rural (Em MWh)'].replace(
    '-', 0).astype('int64')

Agora podemos calcular novamente:

In [ ]:
del consumo['soma']

In [ ]:
consumo['soma'] = consumo[list(consumo)[3:-1]].sum(axis=1)

In [ ]:
consumo[['Consumo de Energia Elétrica - Total (Em MWh)', 'soma']].head(5)

In [ ]:
consumo[[list(consumo)[2],list(consumo)[-1]]].head()

Vamos voltar para as agregações. 

Uma primeira proposta pode ser calculcar o consumo total do estado de SP para cada ano. Observe que temos que agrupar os dados por ano (`group by`) e depois realizar a agregação de soma (`sum`). 

Vamos ver como realizar isso com o Pandas.

In [ ]:
display(consumo.head(2))

consumo.groupby('Períodos').sum()

Refinando

In [ ]:
consumo.groupby('Períodos')[[list(consumo)[2]]].sum()

E para calcular a média, por exemplo:

In [ ]:
consumo.groupby('Períodos')[[list(consumo)[2]]].mean()

E se quisermos média e soma?

In [ ]:
display(consumo.head(2))

consumo.groupby('Períodos').agg(['mean', 'sum'])

Vamos obter o médio e soma para cada município, em cada ano.

In [ ]:
consumo.agg #Shift + Tab para ver a documentação no notebook...

In [ ]:
list(consumo)[2]

In [ ]:
list(consumo)

In [ ]:
consumo.groupby(['Localidades', 'Períodos']).agg(['max'])[['Consumo de Energia Elétrica - Total (Em MWh)']]

In [ ]:
consumo.groupby(['Localidades', 'Períodos']).agg(['mean'])[['Consumo de Energia Elétrica - Total (Em MWh)']]

In [ ]:
consumo.groupby(['Localidades', 'Períodos']).agg(['mean'])[[list(consumo)[2]]]

Como obter, por município, a média e o desvio padrão do consumo total e a soma do consumo em iluminação e serviços publicos?

In [ ]:
consumo.groupby(['Localidades']).agg({'Consumo de Energia Elétrica - Total (Em MWh)': ['mean', 'std'],
                                      'Consumo de Energia Elétrica - Iluminação e Serviços Públicos e Outros (Em MWh)': 'sum'})

In [ ]:
df_final = _124

In [ ]:
type(df_final)

In [ ]:
df_final.to_excel("df_final.xlsx")

In [ ]:
!dir *.xlsx

Referências sobre Pandas:

- https://pandas.pydata.org/docs/

Planilhas nunca mais!!!

<img src="https://www.bryanshalloway.com/2021/05/10/macros-in-the-shell-integrating-that-spreadsheet-from-finance-into-a-local-data-pipeline/images/excel-meme.jfif">

### Bônus 🎁

Células de texto, markdown, HTML, TeX (LaTeX), UNICODE (UTF-8), Emojis

# 😃 🤬

# Título nível 1

Teste

- Idea 1
- Idea 2
- Idea 3

## Título nível 2

Teste

1. Idea A
1. Idea B
1. Idea C

### Título nível 3

Teste

# 🕷️

> Com grandes poderes vem grandes responsabilidades! Tio Ben! 🕷️

#### Título nível 4

E agora o meu texto!!

#### TeX

LaTex

The quadratic formula is $-b \pm \sqrt{b^2 - 4ac} \over 2a$

\begin{equation}
\frac{\sum_{k=1}^N k^2}{a}
\end{equation}

#### Imagens

![Insper Aula](https://www.insper.edu.br/content/dam/insper-portal/imagens/icones/certificacoes.png)

<img src="https://www.insper.edu.br/content/dam/insper-portal/imagens/campus/campus_MG_2361.jpg" alt="Insper em números" width="200px">

#### Markdown

TODO:
    
- [x] Estabelecer <b>questão</b>
- [x] **Garimpar** os dados
- [x] _Explorar_ os dados
- [ ] <del>Modelagem</del> - Na disciplina de estatística
- [x] Comunicar, publicar resultados ✨

#### HTML

<hr>

<p>Insper vídeo: <b>Inteligência artificial e os robôs assassinos | Mitos, verdades e desafios</b></p>

#### UNICODE, UTF-8, Emoji

# 🧙‍♀️ 🎰 🎱 🎲 🔮 ✨

పైథాన్ నిజంగా మంచి ప్రోగ్రామింగ్ లాంగ్వేజ్

# 😈

#### Youtube

Vídeo externo

In [1]:
from IPython.display import HTML

# Youtube
HTML('<iframe width="560" height="315" src="https://www.youtube.com/embed/fBAqBndM5m4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')

/opt/anaconda3/lib/python3.11/site-packages/IPython/core/display.py:431: UserWarning: Consider using IPython.display.IFrame instead
  warnings.warn("Consider using IPython.display.IFrame instead")

In [2]:
from IPython.display import HTML

# Youtube
HTML('<iframe width="560" height="315" src="https://www.youtube.com/embed/L7E-0m9s5hc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')

Há também outras formas de incorporar vídeo em um notebook, consulte a documentação

### Mais referências:

- https://emojipedia.org/
- https://home.unicode.org/


- [Markdown Cells](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html)
- [Mastering Markdown](https://guides.github.com/features/mastering-markdown/)
- [HTML Tutorial](https://www.w3schools.com/html/default.asp)
- [Tex - Tutorial](https://www.tutorialspoint.com/tex_commands/index.htm)